***Salary Recommendation Using Multiple Linear Regression***

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from word2number import w2n

**Reading hiring.csv**

In [56]:
hr=pd.read_csv("hiring.csv")
hr

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

**Preprocessing/Cleaning Data**

In [57]:
import math
test_score_median=math.floor(hr['test_score(out of 10)'].mean())
hr = hr.fillna({
    'experience':"zero",
    'test_score(out of 10)' : test_score_median
})
hr

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000

*As Years of Experience also contribute in salary recommendation so we have to convert it into number*

In [58]:
hr.experience = hr.experience.apply(w2n.word_to_num)

In [59]:
hr

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

*Now the data cleaning process is complete*

**Now Using Regression Model***

In [63]:
reg = linear_model.LinearRegression()
reg.fit(hr[['experience','test_score(out of 10)','interview_score(out of 10)']],hr['salary($)'])

LinearRegression()

In [65]:
reg.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [66]:
reg.intercept_

14992.65144669314

In [69]:
reg.predict([[12,10,10]])

C:\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93747.79628651])

***Conclusion***

**If the person have 12 Years of experience and Test Score and Interview Score are 10/10 respectively. Then his/her salary should be 93747 $**
*Note : This is not a good model as we didnt apply any advance concept here such test_and_split which is used to train the model etc.*